.body2 {
  height: auto;
    width: 700px;
    margin: 50px auto;
  border: 1px solid gray;
    margin-left: 350px;
}
  
  .container2 {
    border: 1px solid rgb(182, 223, 200);
    border-radius: 5px;
    margin-top: 50px;
    padding-bottom: 2px;
    width: 1100px;
    height: 500px;
    margin: 100px auto;
    text-align: center;
  }
  .container2:hover {
    border: 1px solid;
  }
  .imgBox {
    position: relative;
  }
  
  .img2 {
    max-width: 187px;
    max-height: 271px;
    position: absolute;
    margin-top: 108px;
    margin-left: 300px;
    
  }
  
  .text2 {
    margin-left: 320px;
    margin-top: 0;
    width: 58.33%;
  
    vertical-align: top;
  }
  .rate2 span {
    background-color: green;
    color: white;
    padding: 2px 4px 2px 6px;
    padding-left: 5px;
    border-radius: 5px;
  }
  .price2 {
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    margin-top: -15px;
  }
  .btn{
    padding: 10px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    /* margin-top: 100px; */
  }
  .btn:hover{
    background-color: darkgreen;
  }
  
  /* h5 {
    display: inline;
  }
  p {
    display: inline;
  }
  .category {
    font-weight: bold;
  }
  .title{
    text-align: center;
  } */
